.sample_btn {
    display: inline-block;
    width: 250px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1B85FB;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.sample_btn:hover {
    transform: scale(1.05, 1.05);
}

/* 太文字表示 */
.wiki-content strong {
    border-bottom: solid 2px orange;
}

/* 段落 */
.wiki-content h1 {
    font-size: 20px;
    border-left: 14px solid #4040b1;
    padding: 5px 0 3px 10px;
    background-color: #FDF7F7;
    margin-bottom: 1em;
    font-weight: bold;
}

h1#title-text {
    border-bottom: 3px solid #b14040;
    /* background-color: #; */
    font-size: 22px;
}

.wiki-content h2 {
    font-size: 18px;
    border-bottom: 2px solid #b14040;
    font-weight: bold;
}

.wiki-content h3 {
    font-size: 16px;
    border-bottom: 1px dotted #b14040;
}

.wiki-content h4 {
    font-size: 14px;
    border-bottom: 1px dashed #b14040;
}

.wiki-content h5 {
    font-size: 14px;
}

/* 左側のページツリーで現在選択している項目 */
.plugin_pagetree_current a {
    font-weight: bold;
    color: #b14040;
    border-bottom: 3px solid #FFaa00;
    background-color: #FFFF00;
}